<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Acesso negado</title>
    <th:block th:replace="~{fragments/layout :: head}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/layout :: header('Acesso negado')}"></th:block>
<div class="container">
    <div class="card">
        <p>Você não possui permissão para acessar este recurso.</p>
        <a class="btn" th:href="@{/principal}">Voltar para a página inicial</a>
    </div>
</div>
<th:block th:replace="~{fragments/layout :: footer}"></th:block>
</body>
</html>
