<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8">
        <title>Página principal</title>
        <th:block th:replace="~{fragments/layout :: head}"></th:block>
    </head>
<body>
<th:block th:replace="~{fragments/layout :: header('Home')}"></th:block>
<div class="container">
        <h2>Bem-vindo à Plataforma de Desafios</h2>
        <p>Explore usuários e desafios usando a navegação acima.</p>
        
</div>
<th:block th:replace="~{fragments/layout :: footer}"></th:block>
</body>
</html>
